<div class="container">
  <div class="subcell paragraph1"><p >{{project?.descriptions?.paragraph1}}</p></div>
  <div class="subcell" *ngIf="hasImage == false"></div>
  <div class="subcell paragraph2" *ngIf="hasImage"><p>{{project?.descriptions?.paragraph2}}</p></div>
  <div class="subcell randomColor" *ngIf="dataAvailable">
    <canvas baseChart
            [data]="data"
            [labels]="labels"
            [chartType]="chartType">
      Sorry, your browser does not support the canvas tag.
    </canvas>
  </div>
  <div class="gallery" *ngIf="hasImage">
    <button class="galleryButton left" (click)="changeImage(-1)">&#10094;</button>
    <img class="imageSlide" [src] = "getImagePath(project?.images[0])">
    <button class="galleryButton right" (click)="changeImage(1)">&#10095;</button>
  </div>
  <div class="subcell" *ngIf="hasImage == false"></div>
  <div class="subcell paragraph2" *ngIf="hasImage == false"><p>{{project?.descriptions?.paragraph2}}</p></div>
  <div class="subcell" *ngIf="hasImage == false"></div>
</div>
