.cell {
  height: 15em;
  width: 15em;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background: #ff3b3f;
  opacity: 0.85;
  font-size: 1.5em;
}

.cell:hover{
  opacity: 1;
}


.cell div {
  display: block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin: 1em;
}

.circularImg{
  border-radius: 50%;
  width: 10em;
  margin: 0;
}

ul {
  text-align: left;
}

li {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}

p {
  padding-left: 2em;
  padding-right: 2em;
}

a {
  text-decoration: none;
  color: black;
}

img {
  padding: 0.3em;
}

@media only screen and (max-width: 500px) {
  .cell {
    height: 85vw;
    width: 85vw;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background: #ff3b3f;
    opacity: 0.85;
    font-size: 1em;
    min-width: 250px;
    min-height: 250px;
  }

  .circularImg{
    border-radius: 50%;
    width: 60vw;
    margin: 0;
  }

}
