<div class="container">
  <div class="cell imageCell"><img src="../../assets/img/profilePicture.jpg" class="circularImg"/></div>
  <div class="cell"><p></p></div>
  <a href="/aboutme"><div class="cell"><div><p>My name is Daniel Hsiao. I'm currently a fourth year Computer Science student at the University of British Coumbia. My interest is mainly in Web Development and Application Development, especially Android Development.</p></div></div></a>
  <a href="/aboutme"><div class="cell"><div><ul>Skill set:</ul><li>Java</li><li>JavaScript</li><li>HTML & CSS</li><li>SQL and Databases</li></div></div></a>
  <div class="cell" id="beforeProjects" ><p></p></div>
  <a *ngFor="let project of projects; let i = index;" [href] = 'getHrefPath(project.name)' on-mouseover='hovered[i] = true' on-mouseleave="hovered[i] = false">
    <div class="cell project" *ngIf="hovered[i] == false">
      <div>
        <p>{{project.name}}</p>
        <img *ngFor="let image of project.technology.icons" [src]="getTechnologyPath(image)"/>
      </div>
    </div>
    <div class="cell project" *ngIf="hovered[i] == true">
      <div>
        <p>{{project.descriptions.brief}}</p>
        <ul>
          Technlogy:
          <li *ngFor="let tech of project.technology.hover">
            {{tech}}
          </li>
        </ul>
      </div>
    </div>
  </a>
  <div class="cell" id="afterProjects">
    <div>
      <p>Links</p>
      <a href="http://www.github.com/daniel0514/"><img src="../../assets/img/GitHub.png"/></a>
      <a href="https://www.linkedin.com/in/daniel-hsiao-4199a5b6"><img style="width:90px height:90px" src="../../assets/img/LinkedIn.png"/></a>
    </div>
  </div>
</div>
