.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(20em, 1fr));
  grid-gap: 10px;
}
.cell {
  height: 15em;
  min-width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background: #ff3b3f;
  opacity: 0.85;
  font-size: 1.5em;
  border-radius: 15px;
}

.cell:hover{
  opacity: 1;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circularImg{
  border-radius: 50%;
  width: 10em;
  margin: 0;
}

.technologyIcon{
  width: 52px;
  height: 52px;
}

ul {
  text-align: center;
  margin: 0 1em;
}

li {
  text-align: left;
}

p {
  padding: 0 2em;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

img {
  padding: 0.3em;
}

@media only screen and (max-width: 1690px) and (min-width: 1360px){
  .container {
    grid-template-columns: repeat(4, minmax(20em, 1fr));
  }
}

@media only screen and (max-width: 1360px) and (min-width: 1030px){
  .container {
    grid-template-columns: repeat(3, minmax(20em, 1fr));
  }
}
@media only screen and (max-width: 1030px) and (min-width: 690px){
  .container {
    grid-template-columns: repeat(2, minmax(20em, 1fr));
  }
}
@media only screen and (max-width: 690px){
  .container {
    grid-template-columns: minmax(20em, 1fr);
  }
}
