
.cell{
  height:20em;
  min-width:20em;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff3b3f;
  border-radius: 5%;
}

.container {
  display: grid;
  grid-template-columns: minmax(40em ,1fr);
  grid-gap: 10px;
}

.cell p{
  font-size: 1.5em;
  padding: 0 2em 0 2em;
}

h1 {
  text-align: center;
}

.skills {
  flex: 1;
}
.skillPies{
  flex: 3;
  display: flex;
  flex-direction: row;
}

.arc {
  width: 4em;
  height: 4em;
  min-width: 50px;
  min-height: 50px;
  border-radius:100%;
  border: 0.75em solid #0066ff;
  transform: rotate(-45deg);
  background: #68b9ff;
  margin: 2em;
}

.text{
  text-align: center;
  font-size: 0.90em;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arc-34 {
  border-color:transparent #0066ff #0066ff #0066ff;
}

.arc-12 {
  border-color:transparent #0066ff #0066ff transparent;
}

.arc-14 {
  border-color:transparent #0066ff transparent transparent;
}

@media only screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(40em ,1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: column;
  }
}
