<div class="container">
  <div class="cell"><p>I'm a fourth year Computer Science student at UBC. My programming experience is mainly with Java,
    but I'm currently learning different languages to expand my knowledge about software and web development.
    I'm highly interested in mobile app and website development.</p></div>
  <div class="cell"></div>
  <div class="cell"><p>My current languages involve Java, SQL,JavaScript, HTML and CSS.
    My current focus is to develop enough knowledge for JavaScript Frameworks (NodeJS and AngularJS)
    and HTML5 for better website development</p></div>
  <div class="cell">
    <p class="skills">Languages:</p>
    <div class="skillPies">
      <div class="wrapper">
        <div class="text">Java</div>
        <div class="arc arc-34"></div>
      </div>
      <div class="wrapper">
        <div class="text">HTML & CSS</div>
        <div class="arc arc-12"></div>
      </div>
      <div class="wrapper">
        <div class="text">JavaScript</div>
        <div class="arc arc-12"></div>
      </div>
    </div>
  </div>
  <div class="cell">
    <p class="skills">Tools:</p>
    <div class="skillPies">
      <div class="wrapper">
        <div class="text">Android Studio</div>
        <div class="arc arc-12"></div>
      </div>
      <div class="wrapper">
        <div class="text">Git</div>
        <div class="arc arc-12"></div>
      </div>
    </div>
  </div>
  <div class="cell">
    <p class="skills">Database:</p>
    <div class="skillPies">
      <div class="wrapper">
        <div class="text">SQL</div>
        <div class="arc arc-34"></div>
      </div>
    </div>
  </div>
</div>
